<% comments.each do |comment| %>
    <div class="comment-d">
        <div class="comment__top">
            <div class="comment__top--left">
                <i class="fa-solid fa-image-portrait"></i>
                <h5><a href="#" class="title-link"><%= comment.email %></a></h5>
            </div>
            <div class="comment__top--right">
                <a href="#" class="icon edit"><i class="fa-solid fa-pen"></i> Edit</a> | 
                <a href="#" class="icon delete"><i class="fa-solid fa-trash"></i> Delete</a> 
            </div>
        </div>  
        <div class="comment__middle">
            <p class="post__top--body"><%= comment.body %></p>
        </div>
    </div>
<% end %>