<div class="grid">
    <div class="main">
        <div class="container">
        
            <%= render partial: 'post', locals: { posts: @posts } %>        
        </div>
    </div>
</div>

<%= javascript_pack_tag 'comment_active' %>